body{
background-color:green;
text-align:center;
}
#display{
    margin-top:5%;
}
#cards{
    margin: top 5%;
}
#sum{
    margin-top:5%;
}
button{
    margin-top:5%;
    color:green;
    background-color: goldenrod;
    width:200px;
    height:50px;
}
p{
    margin-top:5%;
    font-size:50px;
}